---
---

{% include_relative modules.css %}
{% include_relative grid.css %}
{% include_relative type.css %}
{% include_relative theme.css %}
{% pattern_css %}

.wrapper-header-footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 66em;
  width: 100%;
}

hr {
  border: .5px solid var(--color-text-secondary);
}

@media only screen and (min-width: 38em) {

  .grid-max-width {
    max-width: 37em;
    margin-left: auto;
    margin-right: auto;
  }

}

@media only screen and (min-width: 60em) {

  .grid-max-width {
    max-width: 52em;
  }

}
