---
---

{% include_relative modules.css %}
{% include_relative grid.css %}
{% include_relative type.css %}
{% include_relative theme.css %}
{% pattern_css %}

.wrapper-header-footer {
  margin-left: auto;
  margin-right: auto;
  max-width: 66em;
  width: 100%;
}

hr {
  border: 1px solid var(--color-primary-light);;
}

@media only screen and (min-width: 38em) {

  .grid-max-width {
    max-width: 37em;
    margin-left: auto;
    margin-right: auto;
  }

}

@media only screen and (min-width: 60em) {

  .grid-max-width {
    max-width: 52em;
  }

}

.profile-icon {
  display: block;
  margin: auto;
}

.go-back {
  color: var(--color-text-secondary);
}

.banking {
  border: 2px var(--color-text-secondary) solid;
  border-radius: 8px;
  background-color: #f6f6f6;
}

.back-to h2:hover {
  color: var(--color-text-primary);
}

.change-colour-orange {
  fill: var(--color-secondary);
}
