---
---

{% include_relative modules.css %}
{% include_relative grid.css %}
{% include_relative type.css %}
{% include_relative theme.css %}
{% pattern_css %}






/* body {
  margin: 0;
}

header {
  border-bottom: 2px solid 444;
}

h1 {
  font-family: co-text, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #41b695;
}

footer {
  background: #41b695;
}

small {
  color: #fff;
  font-family: co-text, sans-serif;
  font-weight: 400;
  font-style: normal;
}
 */

/* ---
font-family: mr-eaves-modern,sans-serif;
font-weight: 400;
font-style: normal;

font-family: mr-eaves-modern,sans-serif;
font-weight: 400;
font-style: italic;

font-family: mr-eaves-modern,sans-serif;
font-weight: 700;
font-style: normal;
--- */
