:root {
  --color-primary: #41b695;
  --color-primary-light: #a2e7b1;
  --color-secondary: #ff8b00;
  --color-accent: #ffd712;
  --color-accent-secondary: #c1e237;
  --color-text-primary: #767676;
  --color-text-secondary: #ADADAD;

  --font-primary: jaf-domus, sans-serif;
  --font-secondary: co-text, sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1 {
  font-family: var(--font-secondary);
}

h2 {
  font-family: var(--font-primary);
  color: var(--color-primary-light);
}

h3 {
  font-family: var(--font-primary);
  color: var(--color-text-primary);
}

h4, h5, h6 {
  font-family: var(--font-primary);
  color: var(--color-text-primary);
  font-weight: 300;
}

p {
  font-family: var(--font-primary);
  color: var(--color-text-primary);
}
figcaption {
  font-family: var(--font-primary);
  color: var(--color-text-secondary);
  font-weight: 300;
}

small {
  font-weight: 300;
}
