---
layout: default
title: Budget Budgie • My Budgets
---

<main class="wrapper">

  <h2 class="pad-t-2 text-center yotta">my budgets</h2>

  {% pattern modal/modal-confirm %}

  {% pattern modal/modal-confirm-delete %}

  <div class="grid grid-max-width push pad-t-1-2">
    {% for budget in site.data.budgets %}
      {% include budget-cards.html budget=budget %}
    {% endfor %}
  </div>

  <div class="text-center pad-t pad-b-2">
    {% pattern buttons/button href="new-budget" action="+ new budget" %}
  </div>

</main>
