.button-o {
  color: #fff;
  background-color: var(--color-secondary);
  border: 3px solid var(--color-secondary);
  text-decoration: none;
  border-radius: 6px;
  transition: .5s;
}

.button-o:hover {
  background-color: transparent;
  color: var(--color-secondary);
  transition: .3s;
}

.button-r {
  color: #fff;
  background-color: #FD5637;
  border: 3px solid #FD5637;
  text-decoration: none;
  border-radius: 6px;
  transition: .5s;
}

.button-r:hover {
  background-color: transparent;
  color: #FD5637;
  transition: .3s;
}

.button-g {
  color: #fff;
  background-color: var(--color-accent-secondary);
  border: 3px solid var(--color-accent-secondary);
  text-decoration: none;
  border-radius: 6px;
  transition: .5s;
}

.button-g:hover {
  background-color: transparent;
  color: var(--color-accent-secondary);
  transition: .3s;
}
