.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  border-radius: 5px;
  width: 80vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 500ms ease-in-out;
}

.overlay-confirm {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
}

.overlay-confirm:target {
  visibility: visible;
  opacity: 1;
}

.popup-confirm {
  border-radius: 5px;
  width: 80vw;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 500ms ease-in-out;
}

@media screen and (max-width: 700px){

  .box{
    width: 70%;
  }

  .popup{
    width: 70%;
  }

}
