.card {
  box-shadow: 5px 10px #969696;
  border-radius: 8px;
  width: 300px;
}

.shadow-effect {
  position:relative;
  -webkit-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.05) inset;
  box-shadow:0 2px 4px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.05) inset;
}

.change-colour {
  fill: green;
}
