<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <link href="css/main.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/prx2czj.css">
</head>
<body>

  <header>
    <div class="grid grid-middle wrapper-header-footer">
      <div class="unit xs-1-2 island-1-4">
        <h1 class="push-0">budget budgie</h1>
      </div>
      <div class="unit xs-1-2 island-1-4">
        <div class="grid">
          <div class="unit xs-3-4 text-right">
            <p class="push-0">username</p>
            <figcaption class="nano">account details</figcaption>
          </div>
          <div class="unit xs-1-4">
            <i class="icon i-48">
              <img src="../../../images/contact.svg" alt="contact">
            </i>
          </div>
        </div>
      </div>
    </div>
  </header>

  {{content}}

  <footer>
    <div class="grid grid-middle wrapper-header-footer">
      <div class="unit xs-1-2 island-1-2">
        <small class="push-0">© budget budgie 2019</small>
      </div>
    </div>
  </footer>

</body>
</html>
