input {
  border: none;
  border-bottom: 2px solid var(--color-text-secondary);
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
  border: 2px solid var(--color-text-secondary);
  border-radius: 2px;
}

.container input:checked ~ .checkmark {
  background-color: var(--color-primary-light);;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 12px;
  top: 5px;
  width: 7px;
  height: 18px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container {
  display: inline-block;
  cursor: pointer;
}

td {
  border: 0px;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
  min-height: 2em;
  min-width: 2em;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: .2em;
  border: 1px var(--color-text-secondary) solid;
  border-radius: 7px;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
  border-radius: 20px;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding-right: .8em;
  padding-left: .8em;
  font-size: 16px;
  border: 2px #f6f6f6 solid;
  border-radius: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
  overflow: visible;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 2px #f6f6f6 solid;
  border-radius: 10px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 1px 3px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 8px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f6f6f6;
}

.drop-icon-add {
  max-height: 4em;
  max-width: 4em;
}

.drop-icon {
  max-height: 3em;
  max-width: 4em;
}

.drop-icon-main {
  fill: #fff;
  max-height: 4.4em;
  max-width: 4.4em;
}
